<div class="container rounded p-3 mx-auto mt-5 justify-content-center bg-primary">
  <div class="row justify-content-center">
    <div class="col-6 text-center"><h1>Update Restaurant's Info</h1></div>
  </div>
  <div class="row justify-content-center"><div class="col-6"><%= render partial: 'form' %></div></div>
  <br>
  <div><%= link_to 'Back to restaurants', restaurants_path, class: "text-light bg-dark" %></div>
</div>